{% extends "base.html" %}
{% block nav %}
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/wallets/">Home</a>
      </nav>
{% endblock %}
{% block main %}
    <h1 class="cover-heading">Create a new wallet</h1>
    <br>
    <form action="./" method="POST">
      <div class="form-group">
        <label for="walletLabel">Wallet label</label>
        <input type="text" class="form-control" name="walletLabel" id="walletLabel" aria-describedby="wallet-name-help" placeholder="Enter wallet name" value="{{name}}">
        <small id="wallet-name-help" class="form-text text-muted">This name will appear in the wallet list, it should be unique</small>
      </div>
      <div class="form-group">
        <label for="walletXpub">Master public key</label>
        <input type="text" class="form-control" name="walletXpub" id="walletXpub" placeholder="xpub..." aria-describedby="wallet-xpub-help" value="{{xpub}}">
        <small id="wallet-xpub-help" class="form-text text-muted">Master public key is used to derive new addresses and watch blockchain for transactions</small>
      </div>
      <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
    </form>    
    {% if error %}
    <br><br>
    <div class="alert alert-danger" role="alert">
      Error: {{error}}
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
Enter the name of the wallet and its master public key.
{% endblock %}
