{% extends "base.html" %}
{% block style %}
  <style type="text/css">
    a.btn{
      min-width: 200px;
      margin: 10px;
    }    
    main{
      min-width: 500px;
    }
    .qr{
      padding: 30px;
      background: #fff;
    }
  </style>
{% endblock %}
{% block nav %}
      <h3 class="masthead-brand">{{wallet.name}}</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/wallets/">Home</a>
        <a class="nav-link active" href="/wallets/{{wallet.name}}/">Back to wallet</a>
      </nav>
{% endblock %}
{% block main %}
    <h1 class="cover-heading">Receiving address #{{num}}</h1>
    <img src="{{qrcode(url)}}" class="qr">
    <br>
    <br>
    {{addr}}
    <div>
      <a href="./new/" class="btn btn-lg btn-secondary">New address</a>
    </div>
{% endblock %}
{% block footer %}
Stack sats to this address. Click "New address" to generate a new one.
{% endblock %}
