{% extends "base.html" %}
{% block style %}
  <style type="text/css">
    a.btn{
      min-width: 200px;
      margin: 10px;
    }    
    main{
      min-width: 500px;
    }
  </style>
{% endblock %}
{% block nav %}
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/wallets/">Home</a>
      </nav>
{% endblock %}
{% block main %}
    <h1 class="cover-heading">{{name}}</h1>
    {% if error %}
    <br><br><div class="alert alert-danger" role="alert">
      Error: {{error}}
    </div>
    {% else %}
    Balance: {{balance.watchonly.trusted}} BTC ( {{balance.watchonly.untrusted_pending}} pending )
    <br><br>
    <div>
      <a href="./receive/" class="btn btn-lg btn-secondary">Receive</a>
      <a href="./send/" class="btn btn-lg btn-secondary">Send</a>
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
You have two options now - send or receive. Stack your sats.
{% endblock %}