{% extends "base.html" %}
{% block main %}
    <h1 class="cover-heading">Select your wallet</h1>
    <p class="lead">
    	<br/>
      <a href="/new_wallet/" class="btn btn-lg btn-secondary">Create new wallet</a>
    </p>
    <div class="wallet-list">
		{% for wallet in wallets %}
		{% if wallet == "" %}
		{% else %}
    	<a href="/wallets/{{wallet}}/" class="wallet-item">{{wallet}}</a>
		{% endif %}
		{% endfor %}
    </div>
{% endblock %}
{% block footer %}
Select the wallet to open or create a new one
{% endblock %}
